// Colors
$yellow: #FFC107;
$gray-light: #d6d6d6;
$gray: #8292a0;

$mobile: 800px;
$tablet: 1200px;

// media-queries:
$small: '(max-width: 600px)';
$medium: '(max-width: 1200px)';
$large: '(min-width: 1400px)';