.HomePage {
    header{
        @include flex(space-between, flex-start);
        .city-name {
            text-align: start
        }
        button {
            border-radius: 50%;
            border-width: 0;
            transition: all 0.3s;
            &.Mui-selected {
                background-color: #fb6565;
                color: white;
            }
            &:hover, &.Mui-selected:hover {
                background-color: #ff767688;
                color: white;
            }
        }

    }
    .current-weather-container {
        @include flex(flex-start, center);
        .temperature {
            font-size: 64px;
            font-weight: 600;
        }
        .weather-logo { 
            height: 32vh; 
            img{ 
                width: 100%; 
                height: 100%;
            }
        }
    }
    .forecast-container {
        @include flex(space-between);
        column-gap: 26px;
        @media (max-width: "900px") {
            justify-content: flex-start;
            gap: 32px;
            flex-wrap: wrap;
        }
    }
}

.DayCard {
    position: relative;
    width: 20%;
    @media (max-width: "900px") {
        width: 28%;
        min-width: 168px;
    }
    & > * > * {
        padding: 8px !important;
    }
    header {
        @include flex(space-between, flex-end);
        position: absolute;
        top: -26px;
        left: 0;
        width: 100%;
        .date { color: $gray; }
    }
    .details {
        @include flex(space-between, center);
        flex-wrap: wrap;
        .temperature {
            width: 50%;
            .max {
                font-size: 48px;
                font-weight: bold;
            }
            .min {
                font-size: 24px;
                font-weight: 500;
                color: $gray;
                text-align: start;
            }
        }
        .weather-logo {
            text-align: right;
            width: 50%;
            img {
                max-width: 76px;
            }
        }
    }
}